# === App Config ===
APP_ENV=development
SERVER_PORT=:8080

# === PostgreSQL Database ===
# Docker içerisindeki PostgreSQL servisi için (Container ortamı)
POSTGRES_USER=gigascale_user
POSTGRES_PASSWORD=test_password
POSTGRES_DB=gigascaledb
# Backend'in veritabanına bağlanması için gereken URL (Docker ağı içi)
DATABASE_URL=postgres://gigascale_user:test_password@postgres:5432/gigascaledb?sslmode=disable

# === Redis ===
REDIS_ADDR=redis-node-1:6379,redis-node-2:6379,redis-node-3:6379,redis-node-4:6379,redis-node-5:6379,redis-node-6:6379
USE_REDIS_LIMITER=true

# === Gateway ===
BACKEND_ADDR=backend:50051
PAYMENT_ADDR=payment:50052

# === Kafka ===
KAFKA_ADDR=kafka:9092

# === Notifier ===
# Leave empty to run in log-only mode (no HTTP call will be made)
WEBHOOK_URL=
